[user]
	email = samsalisbury@gmail.com
	name = Sam Salisbury
	signingkey = 9A84616C
[credential]
	helper = osxkeychain
[push]
	default = simple
[alias]
	slog = log --show-signature
# GPG
[commit]
	gpgsign = false
[gpg]
	program = gpg
# Merge and diff
[merge]
	keepBackup = false
	tool = Kaleidoscope
[diff]
	tool = Kaleidoscope
[log]
	showSignature = false
[url "git@github.com:"]
	insteadOf = https://github.com/
[rerere]
	enabled = true
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[difftool]
	prompt = false
[mergetool]
	prompt = false
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
