[user]
	email = samsalisbury@gmail.com
	name = Sam Salisbury
	signingkey = 9A84616C
[push]
	default = simple
[alias]
	slog = log --show-signature
	recent = branch --sort=-committerdate --format=\"%(committerdate:relative)%09%(refname:short)\"
# GPG
[commit]
	gpgsign = false
[gpg]
	program = gpg
# Merge and diff
[merge]
	keepBackup = false
	tool = Kaleidoscope
[diff]
	tool = Kaleidoscope
	wsErrorHighlight = all
[log]
	showSignature = false
#[url "git@github.com:"]
#	insteadOf = https://github.com/
[url "https://github.com/"]
	insteadOf = git@github.com: 
[rerere]
	enabled = true
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[difftool]
	prompt = false
[mergetool]
	prompt = false
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
	username = samsalisbury
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
